body{
  display: flex;
  justify-content: center;
  background-color: cornsilk;
}
canvas {
  margin-top: 1rem;
}
#user-interface >header {
  margin: 1rem 0;
  text-align: left;
  width: 400px;
}

#solution-desc {
  margin: 0.25rem;
}