body{
  display: flex;
  justify-content: center;
  background-color: cornsilk;
}
#user-interface >header {
  margin: 1rem 0;
  text-align: center;
}

#solution-desc {
  font-size: 0.75rem;
  margin: 0.25rem;
}